body {
  color: #808080;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.col-main {
  display: flex;
  width: 1400px;
  height: 268px;
  justify-content: center;
  left: 163px;
  position: relative;
  padding-top: 40px;
  padding-left: 100px;
  margin-bottom: 70px;
}

.register_new {
  left: -20px;
  position: relative;
  width: 679px;
  background: #fafbfa;
}

.login {
  width: 679px;
  background: #fafbfa;
}

.register_new h1 {
  border-bottom: 1px solid #d9d9d9;
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 14px;
  padding: 0 0 10px;
  text-transform: uppercase;
}

.login h1 {
  border-bottom: 1px solid #d9d9d9;
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 14px;
  padding: 0 0 10px;
  text-transform: uppercase;
}

.submit-button {
  position: relative;
  left: 332px;
  top: 40px;
  padding: 4px 9px;
  border: 1px solid #0087ff;
  border-radius: 9px;
}

.submit-button:hover {
  background-color: #007bff;
}

.create-account {
  position: relative;
  left: 500px;
  top: 123px;
  padding: 4px 9px;
  border: 1px solid #0087ff;
  border-radius: 9px;
}

.create-account:hover {
  background-color: #007bff;
}

@media (max-width: 768px) {
  .register_new {
    left: -250px;
    width: 731px;
    margin-top: 73px;
  }

  .login {
    position: relative;
    top: 28px;
    right: 247px;
    width: 731px;
  }

  .col-main {
    margin-bottom: 150px;
    flex-direction: column;
    width: 0px;
  }

  .create-account {
    left: 576px;
    top: -8px;
  }

  .submit-button {
    left: 386px;
    top: -8px;
  }
}
